body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section{
    color: white;
    background-color: hotpink;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin: 10px;
}